@media only screen and (min-width: 360px) and (max-width: 576px) {
    .common{
        margin-top: -20px;
        width: 110px;
    }
    .common-head{
        width: 325px;
        font-size: 10px;
    }
    .common-text{
        margin-top: -51px;
        font-size: 10px;
        line-height: 12px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .common{
        margin-top: 108px;
        width: 250px;
        margin-left: 85px;
    }
    .common-head{
        font-size: 22px;
    }
    .common-text{
        margin-top: 10px;
        font-size: 18px;
        line-height: 25px;
    }
}