@media only screen and (min-width: 360px) and (max-width: 576px) {
    .common-head{
        width: 169px;
        margin-right: auto;
        margin-left: auto;
    }
    /* .title{
        width: 224px;
        font-size: 20px;
    }
    .descrip {
        width: 224px;
        margin-top: 3px;
        font-size: 10px;
        line-height: 15px;
    } */
}