@media only screen and (min-width: 360px) and (max-width: 576px) {
    .banner {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .banner-text h1 {
        font-size: 25px;
        line-height: 40px;
    }

    .btn-one {
        margin-top: 5px;
        width: 110px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
    }

    .shape-one {
        width: 12%;
    }

    .round {
        width: 130px;
    }

    .mobile {
        width: 26%;
        top: 170px;
        left: 218px;
    }
}


@media only screen and (min-width: 577px) and (max-width: 768px) {
    .banner {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .banner-text h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .btn-one {
        margin-top: 25px;
        width: 130px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    .shape-one {
        width: 12%;
    }

    .round {
        width: 230px;
    }

    .mobile {
        width: 20%;
        top: 194px;
        left: 498px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 992px) {
    .banner {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .banner-text h1 {
        font-size: 55px;
        line-height: 70px;
    }

    .btn-one {
        margin-top: 25px;
        width: 130px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    .shape-one {
        width: 10%;
    }

    .round {
        width: 320px;
    }

    .mobile {
        width: 20%;
        top: 180px;
        left: 653px;
    }
}